# virtual environments
venv/

# python cruft
__pycache__/

# editor stuff
bloom.sublime-workspace
bloom.sublime-project

# docs
_build/

# tool cruft
.mypy_cache/
.pytest_cache/

# testing script(s)
main.py
demos/

# list of API docs changes to make
todoc
